html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login
    link(href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet")
    link(rel="manifest" href="/manifest.json")
    style.
      body {
        font-family: 'Audiowide', sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #121212;
        color: #b3b3b3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
      }
      .login-container {
        width: 90%;
        max-width: 400px;
        padding: 15px;
        margin: auto;
        border: 2px solid #9c27b0;
        border-radius: 10px;
        background-color: #2a2a2a;
      }
      .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1100px;
        gap: 20px;
      }
      .form-container, .tasks-container, .purchase-container {
        width: 100%;
      }
      .form {
        border: 2px solid #9c27b0; /* Bordure violette */
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        padding: 15px;
        border-radius: 10px;
        background-color: #2a2a2a; /* Fond encore plus sombre pour le formulaire */
        margin-bottom: 20px;
      }
      .login-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 5px;
        color: #00c7ff;
      }
      .login-new-user {
        font-size: 1.2rem;
        text-align: center;
        margin-top:5px;
        margin-bottom:0px;
        color:rgb(0, 0, 0);
        padding-bottom : 2%;
        padding-top : 2%;
        border-radius:10px;
        background-color : white;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
      label {
        margin-bottom: 5px;
        font-weight: bold;
      }
      input {
        padding: 10px;
        border: 2px solid #00bcd4;
        border-radius: 5px;
        background-color: #121212;
        color: #b3b3b3;
      }
      button {
        padding: 10px;
        background-color: #00bcd4;
        color: #121212;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        margin:auto
        transition: background-color 0.3s;
      }
      button:hover {
        background-color:rgb(27, 233, 209);
      }
      .button-new-user{
        margin-top:10px;
        font-size:1rem;      
        }
      .titre-container {
          display: flex;
          justify-content: space-between; /* Espace égal entre les colonnes */
          width: 100%;
          padding: 0; /* Supprime les marges internes */
          margin: 0; /* Supprime les marges externes */
          gap: 0; /* Aucune espace additionnelle entre les colonnes */
      }
      .form-boutton{
        display:flex;
        justify-content:center;
      } 
      .forgot-password-container {
        display: flex;
        justify-content: center; /* Aligner à droite */
        margin-top: 10px; /* Ajouter un peu d'espace avec le bouton Se connecter */
      }

      .forgot-password {
        padding: 10px;
        background-color:rgb(167, 12, 228);
        color:rgb(255, 255, 255);
        font-weight: bold;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .forgot-password:hover {
        background-color:rgb(80, 221, 205);
      }

      .titre {
        font-size: 3rem;
        flex: 1; /* La colonne centrale occupe l'espace disponible */
        font-family: 'Audiowide', sans-serif;
        color: #00c7ff; /* Bleu néon doux */
        text-align: center; /* Centrer le titre */
        width:60%;
        margin-bottom:3%;
        margin-top:0%;
        padding-top:0px;
        padding-bottom:0px;
      }
      @media (max-width: 450px) {
        .login-container {
          width: 100%;
          max-width: 350px;
          margin-top:5px;
          padding: 15px;
          width:90%;
        }
        .container {
          flex-direction: column;
        }
        .form-container, .tasks-container, .purchase-container {
          width: 100%;
        }  
        .titre {
        font-size: 3rem;
        flex: 1; /* La colonne centrale occupe l'espace disponible */
        font-family: 'Audiowide', sans-serif;
        color: #00c7ff; /* Bleu néon doux */
        text-align: center; /* Centrer le titre */
        width:60%;
        margin-bottom:1%;
        margin-top:2%;
        padding-top:0px;
        padding-bottom:0px;
      }
        
      }
  body
    .container 
      .titre-container
          p.titre Os compañeros
      .login-container
        h1.login-title Connexion
        form(action="/login" method="post")
          .form-group
            label(for="username") Nom d'utilisateur
            input(type="text" id="username" name="username" )
          .form-group
            label(for="password") Mot de passe
            input(type="password" id="password" name="password" )
            if message
              p#message(style="color: red") #{message}
          .form-boutton  
            button(type="submit" class="button-new-user") Connexion
        form(action="/register" method="get")
          .form-group
            //- h1.login-new-user Nouvel utilisateur
            button(type="submit" class="button-new-user login-new-user") Création d'un nouveau compte     
        form(action="/password-email" method="get")
          .forgot-password-container
            button(type="submit" class="forgot-password") Mot de pass oublié      
        
        form(action="/propos" method="get")
          button(type="submit") A propos      
            
    script(src="/js/script.js")
     script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }    
